*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h2{
    font-family: "Pacifico", serif;
    font-size: 40px;
    text-transform: uppercase;
}

#myDIV{
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
}

#InputTarea{
    margin-top: 1rem;
    font-size: 20px;
}

.addBtn{
    background: #797979;
    font-family: "Montserrat Alternates", serif;
    font-size: 1rem;
    color: white; 
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 1rem;
    margin-bottom: 2rem;
}


#div-lista{
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
}

ul{
    margin-top: 50px;
    font-family: "Montserrat Alternates", serif;
    font-size: 1.6rem;
}
